<div class="default-loading">
    <MudStack AlignItems="AlignItems.Center" Spacing="4">
        <MudProgressCircular Size="Size.Large" Indeterminate="true" />
        <MudText Typo="Typo.body1" Color="Color.Secondary">Loading...</MudText>
    </MudStack>
</div>

<style>
.default-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    padding: var(--space-xl);
}
</style>